table {
    border-collapse: collapse;
    width: 40%;
    height: 200px;
    margin: 3rem auto;
}

#solve {
    margin-top: 1.1rem;
}

th,
td {
    text-align: center;
    border: 1px solid rgb(205, 204, 204);
    padding: 2.4rem;
    position: relative;
}

.redborder {
    background-color: red;
    color: white;
}

.blueborder {
    background-color: blue;
    color: white;
}

#cellNo {
    font-size: 2px;
}

td.top {
    border-top: 5px solid blue;
}

td.left {
    border-left: 5px solid blue;
}

td.right {
    border-right: 5px solid blue;
}

td.bottom {
    border-bottom: 5px solid blue;
}